<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>トップページ</title>
</head>

<body>

  <h1>店舗一覧</h1>

  <div th:each="store : ${stores}">

    <h3 th:text="${store.name}"></h3>

    <p th:text="${store.address}"></p>

    <p>
      カテゴリ:
      <span th:text="${store.category != null ? store.category.name : '未分類'}"></span>
    </p>

    <a th:href="@{/stores/{id}(id=${store.id})}">
      詳細
    </a>

  </div>

  <a th:href="@{/member-menu}">会員メニュー</a>

  <br>
  <form th:action="@{/logout}" method="post" style="margin-top: 20px;">
    <button type="submit">ログアウト</button>
  </form>

</body>

</html>