<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>カテゴリ登録</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

  <div th:insert="~{layout/header :: header}"></div>

  <div class="main-content">

  <h2 class="page-title">カテゴリ登録</h2>

  <form th:action="@{/admin/categories}" th:object="${category}" method="post" class="form-group">

    カテゴリ名
    <input type="text" th:field="*{name}">

    <button type="submit" class="btn-primary">
      登録
    </button>

  </form>

  <a th:href="@{/admin/categories}" class="back-link">
    戻る
  </a>

  </div>

</body>

</html>