<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>店舗編集</title>
</head>

<body>
  <h1>店舗編集</h1>

  <form th:action="@{/admin/stores/{id}/update(id=${store.id})}" th:object="${store}" method="post" enctype="multipart/form-data">

    <input type="hidden" th:field="*{imagePath}">

    店舗名
    <input type="text" th:field="*{name}">

    住所
    <input type="text" th:field="*{address}">

    説明
    <textarea th:field="*{description}"></textarea>

    最低価格
    <input type="number" th:field="*{minPrice}">

    最高価格
    <input type="number" th:field="*{maxPrice}">

    店舗画像
    <input type="file" class="form-control" th:field="*{image}">
    <!--店舗画像プレビュー-->
    <div class="row" id="imagePreview"></div>

    カテゴリ
    <select th:field="*{category}">

      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
      </option>

    </select>



    <button type="submit">
      更新
    </button>

  </form>

  <a th:href="@{/admin/stores}">
    戻る
  </a>

  <script th:src="@{/js/preview.js}"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</body>

</html>