<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>店舗一覧</title>
</head>

<body>

  <h1>店舗一覧</h1>

  <a th:href="@{/admin/stores/create}">
    店舗登録
  </a>

  <!-- 検索フォーム -->
  <form th:action="@{/admin/stores}" method="get">

    検索
    <input type="text" name="keyword" th:value="${keyword}">

    並び替え
    <select name="sort">

      <option value="id" th:selected="${sort=='id'}">
        ID
      </option>

      <option value="name" th:selected="${sort=='name'}">
        店舗名
      </option>

    </select>

    <button type="submit">
      検索
    </button>

  </form>

  <table border="1">

    <thead>
      <tr>
        <th>ID</th>
        <th>店舗名</th>
        <th>カテゴリ</th>
        <th>住所</th>
        <th>価格帯</th>
        <th>機能</th>
      </tr>
    </thead>

    <tbody>

      <tr th:each="store : ${stores}">
        <td th:text="${store.id}"></td>
        <td>
          <a th:href="@{/admin/stores/{id}(id=${store.id})}" th:text="${store.name}">
          </a>
        </td>
        <td th:text="${store.category.name}"></td>
        <td th:text="${store.address}"></td>
        <td th:text="${store.minPrice} + '～' + ${store.maxPrice}"></td>

        <td>

          <a th:href="@{/admin/stores/{id}/edit(id=${store.id})}">
            編集
          </a>

          <form th:action="@{/admin/stores/{id}/delete(id=${store.id})}" method="post" style="display:inline"
            onsubmit="return confirm('この店舗を削除しますか？')">

            <button type="submit">
              削除
            </button>

          </form>

        </td>

      </tr>

  </table>


  <!-- ページネーション -->
  <div>

    <span th:if="${storePage.hasPrevious()}">
      <a th:href="@{/admin/stores(page=${currentPage-1},keyword=${keyword},sort=${sort})}">
        前へ
      </a>
    </span>

    <span th:each="i : ${#numbers.sequence(0, storePage.totalPages-1)}">

      <a th:href="@{/admin/stores(page=${i},keyword=${keyword},sort=${sort})}" th:text="${i+1}">
      </a>

    </span>

    <span th:if="${storePage.hasNext()}">
      <a th:href="@{/admin/stores(page=${currentPage+1},keyword=${keyword},sort=${sort})}">
        次へ
      </a>
    </span>

  </div>

</body>

</html>