<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>レビュー投稿</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="~{layout/header :: header}"></div>

<div class="main-content">
    <h2 class="page-title" th:text="${store.name} + ' のレビュー投稿'"></h2>

    <form th:action="@{/reviews/create}" method="post"
          th:object="${review}" class="form-group">

        <input type="hidden" th:field="*{store.id}">

        <div>
            <label>評価（1〜5）</label>
            <input type="number" th:field="*{rating}" min="1" max="5">
        </div>

        <div>
            <label>コメント</label>
            <textarea th:field="*{comment}"></textarea>
        </div>

        <button type="submit" class="btn-primary">投稿</button>

    </form>
</div>

</body>
</html>