<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:insert="~{layout/header :: header}"></div>

<div class="main-content">
  <h2 class="page-title">ログイン</h2>

  <div th:if="${successMessage}" style="color: green; border: 1px solid green; padding: 10px; margin-bottom: 20px;">
    <p th:text="${successMessage}"></p>
  </div>

  <div th:if="${errorMessage}" style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
    <p th:text="${errorMessage}"></p>
  </div>

  <form th:action="@{/login}" method="post" class="form-group">

    <div>
      <label>メールアドレス</label>
      <input type="email" name="username">
    </div>

    <div>
      <label>パスワード</label>
      <input type="password" name="password">
    </div>

    <button type="submit" class="btn-primary">
      ログイン
    </button>

  </form>

  <p>
    <a th:href="@{/password-reset/request}">パスワードを忘れた方はこちら</a>
  </p>

  <a th:href="@{/register}">
    会員登録はこちら
  </a>
</div>

</body>

</html>