<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>会員詳細</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

  <div th:insert="~{layout/header :: header}"></div>

  <div class="main-content">
  <h2 class="page-title">会員編集</h2>

  <form th:action="@{/admin/users/{id}/update(id=${user.id})}" th:object="${user}" method="post" class="form-group">

    名前
    <input type="text" th:field="*{name}">

    メール
    <input type="email" th:field="*{email}">

    ロール
    <select th:field="*{role}">
      <option value="">-- 選択 --</option>
      <option value="USER">ユーザー</option>
      <option value="ADMIN">管理者</option>
    </select>

    <button type="submit" class="btn-primary">
      更新
    </button>

  </form>

  <a th:href="@{/admin/users}" class="back-link">
    戻る
  </a>

  </div>

</body>

</html>