<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>会員一覧</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

  <div th:insert="~{layout/header :: header}"></div>

  <div class="main-content">

  <h2 class="page-title">会員一覧</h2>

  <form th:action="@{/admin/users}" method="get" class="search-box">

    メール検索
    <input type="text" name="keyword" th:value="${keyword}">

    <button type="submit" class="btn-search">
      検索
    </button>

  </form>

  <table class="info-table">

    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メール</th>
      <th>会員種別</th>
      <th>権限</th>
      <th>操作</th>
    </tr>

    <tr th:each="user : ${users}">

      <td th:text="${user.id}"></td>

      <td>
        <a th:href="@{/admin/users/{id}(id=${user.id})}" th:text="${user.name}">
        </a>
      </td>

      <td th:text="${user.email}"></td>

      <td th:text="${user.membershipType == 'PREMIUM'} ? '有料会員' : '無料会員'"></td>

      <td th:text="${user.role == 'ADMIN'} ? '管理者' : '一般会員'"></td>

      <td>

        <a th:href="@{/admin/users/{id}/edit(id=${user.id})}">
          編集
        </a>

      </td>

    </tr>

  </table>

  <br>

  <!-- ページネーション -->
  <div class="pagination">
    <span th:text="${userPage.number + 1} + ' / ' + ${userPage.totalPages} + ' ページ'"></span>

    <!-- 最初のページへ -->
    <a th:if="${!userPage.first}"
       th:href="@{/admin/users(page=0, keyword=${keyword})}">
      &laquo; 最初
    </a>

    <!-- 前のページへ -->
    <a th:if="${!userPage.first}"
       th:href="@{/admin/users(page=${userPage.number - 1}, keyword=${keyword})}">
      &lsaquo; 前へ
    </a>

    <!-- 次のページへ -->
    <a th:if="${!userPage.last}"
       th:href="@{/admin/users(page=${userPage.number + 1}, keyword=${keyword})}">
      次へ &rsaquo;
    </a>

    <!-- 最後のページへ -->
    <a th:if="${!userPage.last}"
       th:href="@{/admin/users(page=${userPage.totalPages - 1}, keyword=${keyword})}">
      最後 &raquo;
    </a>
  </div>

  </div>

  </div>
  </body>

</html>