<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>会員詳細</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

  <div th:insert="~{/layout/header :: header}"></div>

  <div class="main-content">

  <h2 class="page-title">会員詳細</h2>

  <table class="info-table">

    <tr>
      <th>ID</th>
      <td th:text="${user.id}"></td>
    </tr>

    <tr>
      <th>名前</th>
      <td th:text="${user.name}"></td>
    </tr>

    <tr>
      <th>メール</th>
      <td th:text="${user.email}"></td>
    </tr>

    <tr>
      <th>会員種別</th>
      <td th:text="${user.membershipType == 'PREMIUM'} ? '有料会員' : '無料会員'"></td>
    </tr>

    <tr>
      <th>権限</th>
      <td th:text="${user.role == 'ADMIN'} ? '管理者' : '一般会員'"></td>
    </tr>

  </table>

  <a th:href="@{/admin/users/{id}/edit(id=${user.id})}" class="btn-primary">
    編集
  </a>

  <br><br>

  <a th:href="@{/admin/users}" class="back-link">
    一覧に戻る
  </a>

  </div>

</body>

</html>